.chat-history-container {
  flex: 1;                
  display: flex;
  flex-direction: column;  
  overflow-y: auto;        
  padding: 16px;
  box-sizing: border-box;
  background-color: #f7f7f700;
  gap: 8px;
}

.chat-history-message {
  padding: 10px 16px;
  border-radius: 16px;
  font-size: 14px;
  word-break: break-word;
  max-width: 70%;
}

.chat-history-message.user {
  align-self: flex-end;
  background-color: #2c73d2;
  color: white;
}

.chat-history-message.bot {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: black;
}

.chat-history-loading img {
  width: 64px; 
  height: 64px;
}